/**
  |============================
  | block 7
  |============================
*/

.header {
    border-bottom: 1px solid #ececec;

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__site-nav {
        display: flex;
        gap: 50px;
        padding-left: 0;
    }

    &__site-nav-item {
    color: var(--main-color-accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
}

.header__site-nav-item:hover,
.header__site-nav-item:focus {
    color: var(--main-color-blue);
}

.header__site-nav-item .current {
    color: var(--main-color-blue);
}

.header__site-nav-link.current::after {
    content: '';
    display: inline-block;
    position: absolute;


    bottom: -1.5%;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--main-color-blue);
    border-radius: 2px;
}

.header__site-nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-color-accent);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--main-color-blue);
        }
}


.header__site-nav-item:last-child {
    padding-right: 0;
}

